.drag-preview {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 111, 0.2);
}

.drag {
  height: 30px;
  background: rgba(111, 0, 0, 0.2);
}

.box {
  border: 1px solid red;
  height: 300px;
}
