.cv {
  width: 800px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  .t1 {
    font-size: 1.2em;
    font-weight: 500;
    &::before {
      content: 'aa';
      width: 80px;
      background: #000;
      // height: 100%;
    }
  }
}
