@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
    overflow: hidden;
  }
}

%clearfix {
  @include clearfix;
}

@mixin onepx(
  $positions: top right bottom left,
  $border-color: #ddd,
  $border-radius: 0,
  $type: solid
) {
  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: $border-radius;
    @each $position in $positions {
      border-#{$position}: 1px $type $border-color;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      width: 200%;
      height: 200%;
      transform: scale(0.5, 0.5);
      transform-origin: 0 0;
    }
  }
}

@function transformx($direction) {
  @if $direction == top {
    @return matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  }
  @if $direction == right {
    @return matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  }
  @if $direction == bottom {
    @return matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  }
  @if $direction == left {
    @return matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  }
}

@mixin arrow($direction: right, $color: #d8d8d8, $length: 20px, $width: 4px, $top: 0, $left: 0) {
  display: inline-block;
  height: $length;
  width: $length;
  border-width: $width $width 0 0;
  border-color: $color;
  border-style: solid;
  transform: transformx($direction);
  content: '';
  vertical-align: middle;
  position: relative;
  top: $top;
  left: $left;
}
