.root-layout {
  .ant-layout-content {
    overflow-y: auto;

    // 解决 macos下看不见滚动条，不知道可以滚动的问题
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  .menu-title {
    height: 60px;
    line-height: 60px;
    color: $antd-menu-color;
    font-size: 1.6em;
    padding-left: 16px;
  }
}
